@font-face {
  src: url('../fonts/GothamProRegular.ttf');
  font-family: "Gotham Pro";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/GothamProLight.ttf');
  font-family: "Gotham Pro";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/GothamProMedium.ttf');
  font-family: "Gotham Pro";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/GothamProBold.ttf');
  font-family: "Gotham Pro";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/GothamProBlack.ttf');
  font-family: "Gotham Pro";
  font-weight: 900;
}

body {
  padding-top: 80px;
  background-color: #ffffff;
  color: #000000;
  font-family: "Gotham Pro", sans-serif;
  font-size: 14px;
  line-height: 1.2;
}


/*
  Main code
*/

.nl-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 100;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &>div {
      display: inline-flex;
      align-items: center;
    }
  }
  &__logo {
    display: inline-block;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
    img {
      max-width: 100%;
    }
  }
  &__number {
    display: inline-block;
    border-bottom: 1px solid #d2e1f1;
    color: #4d87c6;
    font-family: "Gotham Pro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      text-decoration: none;
    }
  }
  &__droper {
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.nl-home {
  display: block;
  margin-bottom: 1px;
  padding: 140px 0;
  background: url('../images/bg_1.png') no-repeat center bottom;
  background-size: cover;
  &__title {
    display: block;
    color: #fefefe;
    text-align: center;
    font-family: "Gotham Pro", sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 1.25;
    font-weight: 300;
    b,
    strong {
      font-weight: 700;
    }
  }
}

.nl-what {
  display: block;
  .col-md-6 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 380px;
    padding: 20px;
    text-align: center;
  }
  &__title {
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: "Gotham Pro", sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
  }
  &__link {
    display: inline-block;
    padding: 18px 20px;
    background-color: rgba(77, 135, 198, 0.4);
    color: #ffffff;
    font-family: "Gotham Pro", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background: #4d87c6;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.nl-why {
  display: block;
  padding: 90px 0 40px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin-bottom: 75px;
    color: #000000;
    font-family: "Gotham Pro", sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 305px;
    margin-bottom: 50px;
    text-align: center;
    img {
      display: inline-block;
      margin-bottom: 40px;
    }
    p {
      display: block;
      color: #000000;
      font-family: "Gotham Pro", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
      text-align: center;
    }
  }
}

.nl-how {
  display: block;
  padding: 90px 0 60px 0;
  background: url('../images/bg_4.jpg') no-repeat center bottom;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 75px;
    color: #ffffff;
    font-family: "Gotham Pro", sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    max-width: 300px;
    margin-bottom: 30px;
    &>img {
      display: block;
      margin-bottom: 30px;
      border-radius: 999rem;
      object-fit: cover;
    }
    &-title {
      display: block;
      position: relative;
      margin-bottom: 30px;
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 20px;
      font-weight: 700;
      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 100%;
        left: 50%;
        width: 100px;
        height: 3px;
        margin-top: 12px;
        margin-left: -51px;
        background-color: #cccccc;
      }
    }
    p {
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.nl-features {
  display: block;
  padding: 90px 0 50px 0;
  background: #4d87c6;
  &__title {
    display: block;
    margin-bottom: 60px;
    color: #fffefe;
    font-family: "Gotham Pro", sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
    max-width: 445px;
    margin-bottom: 50px;
    padding-left: 65px;
    background: url('../images/icon_check.png') no-repeat left center;
    background-size: 42px 42px;
    color: #ffffff;
    font-family: "Gotham Pro", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
  }
}

.nl-form {
  display: block;
  padding: 90px 0 0 0;
  background: url('../images/bg_6.jpg') no-repeat center bottom;
  background-size: cover;
  .col-md-6 {
    position: relative;
  }
  form {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-bottom: 90px;
     ::-webkit-input-placeholder {
      color: #ffffff;
    }
     ::-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #ffffff;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #ffffff;
    }
    input {
      display: block;
      width: 100%;
      margin-bottom: 5px;
      padding: 18px 24px;
      border-radius: 3px;
      border: 1px solid rgba(255, 255, 255, 0.61);
      outline: none;
      background-color: transparent;
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 300;
    }
    button {
      display: block;
      width: 100%;
      padding: 18px 24px;
      border-radius: 3px;
      background-color: #4d87c6;
      border: 0;
      outline: none;
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        background: #ffffff;
        color: #4d87c6;
        text-decoration: none;
      }
    }
  }
  &__woman {
    display: block;
    position: absolute;
    bottom: 0;
    max-height: 600px;
  }
  &__title {
    display: block;
    margin-bottom: 24px;
    color: #ffffff;
    font-family: "Gotham Pro", sans-serif;
    font-size: 36px;
    font-weight: 300;
  }
  &__select {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.61);
    background-color: transparent;
    color: #ffffff;
    font-family: "Gotham Pro", sans-serif;
    font-size: 16px;
    font-weight: 300;
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 17px;
      height: 9px;
      top: 50%;
      right: 18px;
      margin-top: -4px;
      background: url('../images/icon_select.png') no-repeat center;
      background-size: contain;
    }
    select {
      width: 100%;
      padding: 18px 24px;
      background: none;
      box-shadow: none;
      border: none;
      outline: none;
      appearance: none;
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 300;
      option {
        color: #000000;
      }
    }
  }
}

.nl-case {
  display: block;
  padding: 90px 0 60px 0;
  background: #f3f3f3;
  &__title {
    display: block;
    margin-bottom: 75px;
    color: #000000;
    font-family: "Gotham Pro", sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
  }
  &__cards {
    display: block;
  }
  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 337px;
    height: 275px;
    margin: 0 15px 30px 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    &:hover {
      .nl-case__card-title {
        display: none !important;
      }
      .nl-case__card-info {
        display: flex !important;
      }
    }
    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 20px;
      background-color: rgba(77, 135, 198, 0.75);
      text-align: center;
      color: #fefefe;
      font-family: "Gotham Pro", sans-serif;
      font-size: 24px;
      font-weight: 700;
      transition: all 0.15s ease-out;
    }
    &-info {
      display: none;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      padding: 35px 20px 20px 20px;
      background-color: rgba(77, 135, 198, 0.75);
      text-align: center;
      color: #fefefe;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 400;
      transition: all 0.15s ease-out;
      p {
        display: block;
        margin-bottom: 4px;
        color: #fefefe;
        font-family: "Gotham Pro", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
      }
      b,
      strong {
        display: block;
        margin-bottom: 10px;
        color: #fefefe;
        font-family: "Gotham Pro", sans-serif;
        font-size: 30px;
        font-weight: 500;
      }
      a {
        display: inline-block;
        margin-top: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        color: #fefefe;
        font-family: "Gotham Pro", sans-serif;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          border-color: transparent;
          color: #fefefe;
          text-decoration: none;
        }
      }
    }
  }
}

.nl-seo {
  display: block;
  padding: 90px 0 70px 0;
  background: #ffffff;
  &__title {
    display: block;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Gotham Pro", sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
  }
  &__sub-title {
    display: block;
    margin-bottom: 60px;
    color: #000000;
    font-family: "Gotham Pro", sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
  }
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
  }
  p {
    display: block;
    margin-bottom: 25px;
    color: #000000;
    font-family: "Gotham Pro", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
  }
  b,
  strong {
    color: #000000;
    font-family: "Gotham Pro", sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 25px;
      padding-left: 35px;
      background: url('../images/icon_ul.png') no-repeat left 4px;
      background-size: 14px 14px;
      color: #000000;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.nl-footer {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100px;
  &__map {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__info {
    display: block;
    width: 100%;
    max-width: 405px;
    margin: 0 0 100px 0;
    padding: 40px 20px 20px 35px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    &>div {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 400;
    }
    img {
      display: inline-block;
      margin-right: 14px;
    }
    p {
      margin: 0;
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #fefefe;
        text-decoration: none;
      }
      b,
      strong {
        color: #ffffff;
        font-family: "Gotham Pro", sans-serif;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  &__main {
    display: block;
    width: 100%;
    padding: 30px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 10;
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 4px 14px;
        color: #ffffff;
        font-family: "Gotham Pro", sans-serif;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__creator {
    display: block;
    text-align: center;
    color: #ffffff;
    font-family: "Gotham Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #fefefe;
        text-decoration: none;
      }
    }
  }
}

.nl-reviews {
  display: block;
  position: relative;
  &__block {
    display: block;
    padding: 95px 120px 95px 200px;
    background: #ffffff;
  }
  &__title {
    display: block;
    margin-bottom: 35px;
    color: #000000;
    font-family: "Gotham Pro", sans-serif;
    font-size: 36px;
    font-weight: 300;
  }
  &__cards {
    display: block;
    position: static !important;
    .slick-next,
    .slick-prev {
      transform: none;
    }
    .slick-prev {
      width: 75px;
      height: 50px;
      left: auto;
      right: 0;
      top: auto;
      bottom: 0;
      border-radius: 2px 0 0 0;
      background: #4d87c6 url('../images/icon_prev.png') no-repeat center;
      background-size: 15px 30px;
      z-index: 10;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      width: 75px;
      height: 50px;
      left: 100%;
      right: auto;
      top: auto;
      bottom: 0;
      border-radius: 0 2px 0 0;
      background: #4d87c6 url('../images/icon_next.png') no-repeat center;
      background-size: 15px 30px;
      z-index: 10;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: block;
    p {
      display: block;
      margin-bottom: 25px;
      color: #000000;
      font-family: "Gotham Pro", sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
    }
    &-from {
      display: block;
      margin-bottom: 10px;
      color: #010101;
      font-family: "Gotham Pro", sans-serif;
      font-size: 18px;
      font-weight: 700;
    }
    &-who {
      display: block;
      color: #010101;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.nl-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  &>.container-fluid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    padding: 80px 15px 20px 15px;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
  }
  &__links {
    display: block;
    margin: 0 0 35px 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: block;
      a {
        display: block;
        padding: 4px 8px;
        margin-bottom: 10px;
        color: #ffffff;
        font-family: "Gotham Pro", sans-serif;
        font-size: 36px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          opacity: 0.8;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &__info {
    a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #ffffff;
        text-decoration: none;
      }
    }
    p {
      display: block;
      margin-bottom: 18px;
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__link {
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    font-family: "Gotham Pro", sans-serif;
    font-size: 18px !important;
    font-weight: 700 !important;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.nl-page {
  display: block;
  padding: 45px 0;
  background: #4d87c6;
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #fefefe;
    font-family: "Gotham Pro", sans-serif;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
  }
}

.nl-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  font-family: "Gotham Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  li {
    display: inline-block;
    a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      color: #ffffff;
      font-family: "Gotham Pro", sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        border-color: transparent;
        color: #ffffff;
        text-decoration: none;
      }
    }
    span {
      display: inline-block;
      margin: 0 15px;
      color: #8fc5ff;
    }
  }
}

.nl-stocks {
  display: block;
  padding: 90px 0 60px 0;
  background: #f1f1f1;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  &__card {
    display: inline-block;
    width: 100%;
    max-width: 520px;
    height: 272px;
    margin: 0 15px 30px 15px;
    padding: 40px 60px;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 1px 40px #e4e4e4;
    color: #000000;
    font-family: "Gotham Pro", sans-serif;
    font-size: 16px;
    font-weight: 300;
    &-title {
      display: block;
      height: 28px;
      margin-bottom: 20px;
      overflow: hidden;
      color: #000000;
      font-family: "Gotham Pro", sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
    p {
      display: block;
      height: 144px;
      margin: 0;
      overflow: hidden;
      color: #000000;
      font-family: "Gotham Pro", sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

.nl-ad {
  display: block;
  padding: 90px 0 0 0;
  background: #ffffff;
  &__title {
    display: block;
    margin-bottom: 55px;
    color: #010101;
    font-family: "Gotham Pro", sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
  }
  &__scheme {
    display: block;
    width: 1110px;
    height: 160px;
    background: url('../images/ad_1.png') no-repeat center;
    background-size: 100% 100%;
  }
  &__links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
  }
  &__link {
    display: inline-block;
    min-width: 235px;
    margin: 0 10px 24px 10px;
    padding: 15px 35px;
    border-radius: 999rem;
    border: 1px solid #4d87c6;
    background-color: transparent;
    color: #000000;
    font-family: "Gotham Pro", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      background-color: #4d87c6;
      color: #fefefe;
      text-decoration: none;
    }
  }
}

.nl-responsive {
  display: block;
  position: relative;
  width: 100%;
  overflow-x: auto;
}

.nl-dot {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 999rem;
  background-color: red;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  z-index: 1;
  &__pulse {
    margin: 0;
    border-radius: 999rem;
    background: black;
    animation: pulse 1s infinite;
  }
  &_1 {
    top: 18px;
    left: 272px;
    background: #fffd3a;
  }
  &_2 {
    top: 17px;
    left: 226px;
    background: #6855ae;
  }
  &_3 {
    top: 18px;
    left: 335px;
    background: #f8266d;
  }
  &_4 {
    top: 50px;
    left: 452px;
    background: #e0ff1c;
  }
  &_5 {
    top: 40px;
    left: 118px;
    background: #ff0200;
  }
  &_6 {
    top: 50px;
    left: 281px;
    background: #004dc4;
  }
}

@keyframes pulse {
  0% {
    opacity: .5;
    height: 10px;
    width: 10px;
    transition: opacity .5s linear;
  }
  50% {
    opacity: 0;
    transform: scale(3);
    transition: opacity .5s linear;
  }
  100% {
    opacity: 0;
    transition: opacity .5s ease;
  }
}

.h-p-b-70 {
  padding-bottom: 70px;
}

.h-p-t-0 {
  padding-top: 0;
}

.h-mob-show {
  display: none;
}