@media (max-width: 1199px) {
  .nl-responsive {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@media (max-width: 991px) {
  .nl-form__woman {
    display: none;
  }
  .nl-reviews__block {
    padding: 20px 0 80px 0;
  }
  .nl-reviews__cards .slick-prev {
    left: 15px;
    right: auto;
  }
  .nl-reviews__cards .slick-next {
    left: 90px;
    right: auto;
  }
  .nl-header__droper {
    margin-left: 10px;
  }
  .nl-header__logo {
    margin-bottom: 10px;
  }
  .nl-header {
    position: relative;
  }
  body {
    padding: 0;
  }
  .nl-nav {
    position: relative;
  }
  .nl-nav>.container-fluid {
    padding: 20px 15px;
  }
  .nl-nav>.container-fluid {
    justify-content: flex-start;
    min-height: auto;
  }
  .nl-nav__links li a {
    font-size: 24px;
  }
  .nl-nav__info p {
    font-size: 14px;
  }
  .nl-header>.container>div {
    display: flex;
    justify-content: center;
  }
  .nl-home {
    padding: 20px 0;
  }
  .nl-home__title {
    font-size: 26px;
  }
  .nl-what .col-md-6 {
    min-height: 250px;
  }
  .nl-why {
    padding: 20px 0 0 0;
  }
  .nl-why__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .nl-why__card img {
    margin-bottom: 10px;
  }
  .nl-why__card {
    margin-bottom: 25px;
  }
  .nl-why__cards {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .nl-how {
    padding: 20px 0 0 0;
  }
  .nl-how__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .nl-how__cards {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .nl-how__card>img {
    margin-bottom: 15px;
  }
  .nl-how__card {
    margin-bottom: 25px;
  }
  .nl-features {
    padding: 20px 0 0 0;
  }
  .nl-features__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .nl-features__card {
    margin-bottom: 25px;
  }
  .nl-form {
    padding: 20px 0;
  }
  .nl-form form {
    margin: 0;
  }
  .nl-case {
    padding: 20px 0 0 0;
  }
  .nl-case__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .nl-seo {
    padding: 20px 0 10px 0;
  }
  .nl-seo__title {
    margin-bottom: 15px;
  }
  .nl-seo__sub-title {
    margin-bottom: 15px;
  }
  .nl-footer {
    padding-top: 20px;
    &__map {
      position: relative;
      height: 300px;
      margin-bottom: 20px;
      z-index: 1;
    }
  }
  .nl-footer__info {
    margin-bottom: 20px;
    padding: 20px;
  }
  .nl-footer__nav {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .nl-page {
    padding: 30px 0;
  }
  .nl-case__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .nl-stocks {
    padding: 20px 0;
  }
  .nl-stocks__cards {
    justify-content: space-around;
  }
  .nl-stocks__card {
    margin-bottom: 20px;
    padding: 20px 25px;
    height: auto;
    min-height: 250px;
  }
  .nl-ad__links {
    margin-top: 30px;
  }
  .nl-ad__title {
    margin-bottom: 20px;
  }
  .nl-ad {
    padding-top: 20px;
  }
  .nl-ad__link {
    margin: 0 10px 10px 10px;
    padding: 10px;
  }
  .h-p-b-70 {
    padding-bottom: 10px;
  }
  .nl-header__droper {
    display: none;
  }
  .h-mob-show {
    display: inline-block;
  }
  .nl-header__mob {
    direction: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .nl-header>.container {
    &>div:last-child {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  .nl-header {
    padding: 15px 0;
  }
  .nl-header__droper {
    position: absolute;
    right: 20px;
    margin-top: -2px;
  }
}

@media (max-width: 767px) {}